# @see: http://editorconfig.org

root = true

# 表示所有文件适用
[*]
# 设置文件字符集为 utf-8
charset = utf-8
# 控制换行类型(lf | cr | crlf)
end_of_line = lf
# 始终在文件末尾插入一个新行
insert_final_newline = true
# 缩进风格（tab | space）
indent_style = space
# 缩进大小
indent_size = 4
# 最大行长度
max_line_length = 120

# 表示仅 md 文件适用以下规则
[*.md]
# 关闭最大行长度限制
max_line_length = off
# 关闭末尾空格修剪
trim_trailing_whitespace = false
