.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $menu-backgroup-color;

    transition: all 0.3s ease;
    .logo {
        box-sizing: border-box;
        height: 55px;
        span {
            font-size: 22px;
            font-weight: bold;
            color: $primary-color;
            white-space: nowrap;
        }
        img {
            width: 30px;
            object-fit: contain;
            margin-right: 8px;
        }
    }
    .el-scrollbar {
        height: calc(100% - 55px);
        .el-menu {
            flex: 1;
            overflow: auto;
            overflow-x: hidden;
            border-right: none;
        }
    }
    .menu-footer {
        height: 30px;
        background-color: #c0c0c0;
        text-align: center;
    }
}

.el-menu,
.el-menu--popup {
    padding: 4px;
    background: none !important;

    .el-menu-item {
        border-radius: 4px !important;
        background-color: $menu-item-backgroup-color;
        margin: 10px;
        height: 44px !important;

        span {
            color: rgba(31, 35, 41, 1);
        }

        .el-icon {
            color: rgba(31, 35, 41, 1);
        }

        &.is-active {
            background-color: #ffffff;

            border: 2px solid $primary-color;

            span {
                color: $primary-color;
            }

            .el-icon {
                color: $primary-color;
            }

            &::before {
                position: absolute;
                border-radius: 4px;
                top: 13px;
                bottom: 15px;
                left: 12px;
                width: 4px;
                height: 14px;
                content: '';
                background: $primary-color;
            }
        }
    }

    :deep .el-sub-menu {
        margin: 10px;

        span {
            color: rgba(31, 35, 41, 1);
        }
        .el-icon {
            color: rgba(31, 35, 41, 1);
        }

        .el-sub-menu__title {
            background-color: $menu-item-backgroup-color !important;
            height: 44px;
            border-radius: 4px !important;
        }

        &.is-opened,
        &.is-active {
            .el-sub-menu__title {
                span {
                    color: $primary-color;
                }

                .el-icon {
                    color: $primary-color;
                }
            }
        }

        .el-menu {
            background-color: $menu-item-backgroup-color;
        }
        .el-menu-item {
            border-radius: 4px !important;
            margin-left: 0px !important;
            min-width: 100% !important;
            height: 44px;
        }
    }

    .el-menu-item:hover {
        .el-icon {
            color: $primary-color;
        }

        span {
            color: $primary-color;
        }
    }

    .el-sub-menu:hover {
        .sub-icon {
            color: $primary-color;
        }

        .sub-span {
            color: $primary-color;
        }
    }
}

.el-menu--collapse {
    width: 85px;
}
