html {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif;
}
.flx-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flx-justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flx-align-center {
    display: flex;
    align-items: center;
}

.flx-wrap {
    display: flex;
    flex-wrap: wrap;
}

.clearfix::after {
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    content: '';
}

.sle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mle {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.break-word {
    word-break: break-all;
    word-wrap: break-word;
}

.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all 0.2s;
}
.fade-transform-enter-from {
    opacity: 0;
    transition: all 0.2s;
    transform: translateX(-30px);
}
.fade-transform-leave-to {
    opacity: 0;
    transition: all 0.2s;
    transform: translateX(30px);
}

/* Breadcrumb */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
    transition: all 0.2s ease;
}
.breadcrumb-enter-from,
.breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(10px);
}
.breadcrumb-leave-active {
    position: absolute;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: #dddee0;
    border-radius: 20px;
    box-shadow: inset 0 0 0 white;
}
.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .text {
        margin: 30px 0;
        font-size: 23px;
        font-weight: bold;
        color: rgb(88 88 88);
    }
}

#nprogress {
    .bar {
        background: $primary-color !important;
    }
    .spinner-icon {
        border-top-color: $primary-color !important;
        border-left-color: $primary-color !important;
    }
    .peg {
        box-shadow: 0 0 10px $primary-color, 0 0 5px $primary-color !important;
    }
}

.inline-block {
    display: inline-block;
}

.form-button {
    float: right;
}

.input-help {
    font-size: 12px;
    word-break: break-all;
    color: #8f959e;
    width: 100%;
    display: inline-block;
}

.input-error {
    font-size: 12px;
    word-break: break-all;
    color: red;
    transform: scale(0.9);
    transform-origin: left;
    width: 110%;
    display: inline-block;
}

.myTable {
    border-collapse: collapse;
    font-size: 12px;
    table-layout: fixed;
    td {
        width: 35%;
        padding: 8px;
        height: 23px;
        border: 1px solid #383c42;
        word-wrap: break-word;
        div {
            margin-top: 2px;
        }
        th {
            border: 0;
            height: 30px;
        }
        tr {
            &:hover {
                background-color: #d9dde2;
            }
            &:first-child:hover {
                background-color: transparent !important;
            }
            td:nth-child(even) {
                color: #85888e;
            }
        }
    }
}

.mask {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    top: 0;
    left: 0;
    pointer-events: none;
}

.mask-prompt {
    position: absolute;
    z-index: 9998;
    top: 220px;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    font-size: 14px;
    .bt {
        margin-top: -2px;
    }
}

.table-button {
    display: inline;
    margin-right: 5px;
}

.button-left {
    float: left;
}

.topRouterCard {
    .el-card__body {
        --el-card-border-color: var(--el-border-color-light);
        --el-card-border-radius: 4px;
        --el-card-padding: 0px;
        --el-card-bg-color: var(--el-fill-color-blank);
    }
}
.topRouterButton {
    .el-radio-button__inner {
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        vertical-align: middle;
        background: var(--el-button-bg-color, var(--el-fill-color-blank));
        border: 0;
        font-weight: 350;
        border-left: 0;
        color: var(--el-button-text-color, var(--el-text-color-regular));
        text-align: center;
        box-sizing: border-box;
        outline: 0;
        margin: 0;
        position: relative;
        cursor: pointer;
        transition: var(--el-transition-all);
        -webkit-user-select: none;
        user-select: none;
        padding: 8px 15px;
        font-size: var(--el-font-size-base);
        border-radius: 0;
    }
}

.sidebar-container-popper {
    .el-menu--popup-right-start {
        background-color: rgba(0, 94, 235, 0.1);
    }
}

// search条圆角
.search-button {
    float: right;
    width: 250px;
    margin-right: 10px;
    .el-input__wrapper {
        border-radius: 50px;
    }
    .el-input-group__prepend {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .el-input-group__append {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

// drawer头部增加按钮
.drawer-header-button {
    span {
        color: currentColor !important;
        font-size: var(--el-font-size-base) !important;
    }
    .active-button {
        color: var(--el-button-hover-text-color);
        border-color: var(--el-button-hover-border-color);
    }
}

.app-status {
    font-size: 12px;

    .el-card {
        --el-card-padding: 12px;

        .buttons {
            margin-left: 100px;
        }

        .status-content {
            margin-left: 50px;
        }
    }
}

.xterm-viewport::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #000000;
}

.middle-center {
    vertical-align: middle;
}
.status-count {
    font-size: 24px;
}
.status-label {
    font-size: 14px;
    color: #646a73;
}

.table-link {
    color: $primary-color;
    cursor: pointer;
}

.table-link:hover {
    opacity: 0.6;
}

.app-warn {
    text-align: center;
    margin-top: 100px;
    span:first-child {
        color: #bbbfc4;
    }

    span:nth-child(2) {
        color: $primary-color;
        cursor: pointer;
    }

    span:nth-child(2):hover {
        color: #74a4f3;
    }

    img {
        width: 300px;
        height: 300px;
    }
}

.common-prompt {
    margin-bottom: 20px !important;
}

.mini-form-item {
    width: 40% !important;
}

.left-button {
    margin-left: 10px;
}

.pre-select {
    width: 85px !important;
}

.el-input-group__append {
    border-left: 0;
    &:hover {
        color: var(--el-color-primary);
        background-color: var(--el-color-primary-light-9) !important;
    }
    background-color: #ffffff !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 1px 0 0 var(--el-input-border-color) inset, 0 -1px 0 0 var(--el-input-border-color) inset,
        -1px 0 0 0 var(--el-input-border-color) inset;
}

.tag-button {
    margin-right: 10px;
    &.no-active {
        background: none;
        border: none;
    }
}

.limit-height-popover {
    max-height: 300px;
    overflow: auto;
}

.router-button {
    margin-right: 20px;
}

.text-parent {
    display: flex;
    width: 100%;
    margin-left: 2px;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.star-center {
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.p-ml-5 {
    margin-left: 5px !important;
}