@use 'fit2cloud-ui-plus/src/styles/index.scss';
.search-button {
    .el-input__wrapper {
        border-radius: 50px;
    }
}

// drawer头部增加按钮
.drawer-header-button {
    span {
        color: currentColor !important;
        font-size: var(--el-font-size-base) !important;
    }
    .active-button {
        color: var(--el-button-hover-text-color);
        border-color: var(--el-button-hover-border-color);
    }
}
