@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities) source(none);

@config "../../tailwind.config.js";
@source "../**/*.{vue,js,ts,jsx,tsx}";
@source not inline("[-:T]");
@source not inline("[a-z:@A-Z0-9_/.-]");

@theme {
    --default-ring-width: 3px;
    --default-ring-color: var(--color-blue-500);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}
