
[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
skip-character-set-client-handshake
default-storage-engine = InnoDB
character-set-server = utf8
transaction-isolation = READ-COMMITTED


bind-address		= 127.0.0.1
key_buffer		      = 16M
max_allowed_packet	= 16M
thread_stack		    = 192K
thread_cache_size   = 16
myisam-recover         = BACKUP
max_connections        = 300
table_open_cache       = 64
thread_concurrency     = 10
table_open_cache       = 32
thread_concurrency     =  4

query_cache_type   = 1
query_cache_limit	= 1M
query_cache_size   = 8M
general_log_file        = /var/log/mysql/mysql.log
#general_log             = 1
log_error = /var/log/mysql/error.log

slow_query_log       = 1
slow_query_log_file	= /var/log/mysql/mysql-slow.log
long_query_time      = 1
#log-queries-not-using-indexes


#server-id		= 1
#log_bin			= /var/log/mysql/mysql-bin.log
expire_logs_days	= 14
max_binlog_size         = 1G
#binlog_do_db		= include_database_name
#binlog_ignore_db	= include_database_name


# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem
innodb_data_file_path = ibdata1:128M:autoextend
innodb_file_per_table = 1
skip-innodb_doublewrite
innodb_additional_mem_pool_size = 12M
innodb_buffer_pool_size         = 256M
innodb_log_buffer_size          = 8M
innodb_log_file_size            = 8M
innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT
innodb_support_xa               = OFF


[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition

[isamchk]
key_buffer		= 16M
