.footer {
    height: 30px;
    background: #ffffff;
    border-top: 1px solid #e4e7ed;
    a {
        font-size: 14px;
        color: #858585;
        text-decoration: none;
        letter-spacing: 0.5px;
    }
}
