@font-face {
    font-family: iconfont; /* Project id  */
    src: url('iconfont.ttf?t=1656986270860') format('truetype');
}
.iconfont {
    font-family: iconfont !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-zhongyingwen::before {
    content: '\e605';
}
.icon-suoxiao::before {
    content: '\e641';
}
.icon-fangda::before {
    content: '\e826';
}
.icon-contentright::before {
    content: '\e8c9';
}
.icon-sousuo::before {
    content: '\e611';
}
.icon-zhuti::before {
    font-size: 22.4px;
    content: '\e638';
}
