@font-face {
    font-family: YouSheBiaoTiHei;
    src: url('./YouSheBiaoTiHei.ttf');
}
@font-face {
    font-family: MetroDF;
    src: url('./MetroDF.ttf');
}
@font-face {
    font-family: DIN;
    src: url('./DIN.Otf');
}
