.el-container {
    display: flex;
    width: 100%;
    min-width: 970px;
    height: 100%;
    .el-aside {
        width: auto;
        overflow: inherit;
    }
    .el-header,
    .el-footer {
        height: auto;
        padding: 0;
    }
    .el-main {
        box-sizing: border-box;
        padding: 10px 13px;

        /* 防止切换出现横向滚动条 */
        overflow-x: hidden;
        background: #f0f2f5;
        .main-box {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 20px;
            overflow: auto;
            overflow-x: hidden !important;
            background-color: #ffffff;
            border-radius: 4px;
            box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
            &::-webkit-scrollbar {
                background-color: white;
            }
        }
    }
}
