@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.75rem;
}

body {
  background-color: #0b0d17;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(79, 70, 229, 0.4);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background text-foreground;
  }
}
